.main-container {
  background-color: #333333;
  /* min-height: 84.5vh; */

  color: white;
}
.col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle {
  
    animation: height 200ms linear forwards;
  
}

.exit-toggle{
    border: 2px solid red;
   animation: height-back 200ms backwards;
    
}

@keyframes height {
  from {
    height: 0px;
  }
  to {
    height: 84.5vh;
  }
}

@keyframes height-back{
    from {
        height: 84.5vh;
    }
    to{
        height: 0px;
    }
}
