.main-container {
  background-color: #333333;
  /* min-height: 84.5vh; */
  width: 100%;
  color: white;
}
.col-lg-4 {
  width: 100%;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}
.toggle {
    animation: height 200ms linear forwards;
}

.exit-toggle{
   animation: height-back 200ms forwards;
}

.row{
  float: left;
  cursor: pointer;
  width: 30%;
  padding:40px;
  /* border:3px solid rgb(255, 1, 1); */
  margin: 10px;
}
/* .row:hover{
  border:5px solid black;
  
} */

@keyframes height {
  from {
    height: 0px;
  }
  to {
    height: 84.5vh;
  }
}

@keyframes height-back{
    from {
        height: 84.5vh;
    }
    to{
        height: 0px;
    }
}
