.main-container{
    background-color: #333333;
    min-height: 84.5vh;
  
    color: white;
   transition: 5s ease-in;
}
.col-lg-4{
    display: flex;
    align-items: center;
    justify-content: center;

}
.toggle{
   transform-origin: top;
}